.article-item {

  &__img {
    margin-bottom: 41px;
  }

  &__footer {
    @include font-helvetica-bold;
    @include font(14px, 28px);
    margin-bottom: 10px;
  }

  &__time {
    margin-right: 13px;
  }

  &__author {
    font-style: normal;

    &::before {
      display: inline-block;
      content: "";
      width: 6px;
      height: 6px;
      background-color: $color-orange;
      margin-right: 10px;
      vertical-align: middle;
      border-radius: 50%;
    }
  }

  &__title {
    margin: 0 auto 10px;
    max-width: 480px;

    @include bp(md) {
      margin: 0 0 10;
    }
  }

  &__description {
    @include reset-model;
    max-width: 453px;
    margin: 0 auto;

    @include bp(md) {
      margin: 0;
    }
  }
}
